@{
    ViewBag.Title = "Edit";
}
@model MvcEFTest.Models.User

@using (Html.BeginForm("edit", "user", FormMethod.Post)) 
{ 
    <table cellspacing="0" cellpadding="0" border="1" width="60%">
        <tr>
            <td colspan="2">信息编辑
                @Html.HiddenFor(m=>m.UserID)
                @Html.ValidationSummary(true)
            </td>
        </tr>
        <tr>
            <td align="right">UserName:</td>
            <td>@Html.EditorFor(m=>m.UserName)</td>
        </tr>
        <tr>
            <td align="right">IsEnable:</td>
            @*<td>@Model.IsEnable</td>*@
            <td>@Html.CheckBox("IsEnable", Model.IsEnable)</td>
        </tr>
        <tr>
            <td align="right">Created On:</td>
            @*<td>@Html.TextBox("CreateTime", DateTime.Now.ToString("yyyy-MM-dd"))</td>*@
            <td>@Html.TextBox("CreateTime", Model.CreateTime.ToString("yyyy-MM-dd"))</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" name="BtnSubmit" />
            @Html.ActionLink("返回首页", "index")</td>
        </tr>
    </table>
}
