@{
    ViewBag.Title = "Index";
}
@model IList<MvcEFTest.Models.User>

<table cellspacing="0" cellpadding="0" border="1" width="60%">
    <tr>
        <td>UserID</td>
        <td>UserName</td>
        <td>Password</td>
        <td>IsEnable</td>
        <td>Created On</td>
        <td>Actions</td>
    </tr>
    @foreach (var obj in Model) { 
        <tr>
            <td>@obj.UserID</td>
            <td>@obj.UserName</td>
            <td>@obj.Password</td>
            <td>@Html.Raw(obj.IsEnable == true ? "<span style=\"color:#FF0000\">启用</span>" : "<span style=\"color:green\">禁用</span>")</td>
            <td>@obj.CreateTime.ToString("yyyy-MM-dd")</td>
            <td>@Html.ActionLink("编辑", "Edit", new { id = obj.UserID })</td>
        </tr>
    }
</table>
